<div class='w3-padding-small'>
    <div class="w3-row hover-shadow pub-box" id="about">
      <div class="pubcol-left w3-padding-small w3-hide-small">
        <img src="{{ "/assets/papers/" | append: post.thumb  | relative_url}}" class="w3-round w3-image w3-opacity-min pub-image" alt="Table Setting">
      </div>
      
      <div class="pubcol-right w3-padding-small">
        <h4 class="pubtitle">{{post.title}}</h4>
        <!-- {{post.categories}} -->
        
        <!-- {%- if tag == Mingxuan -%} -->
        {%- for name in post.Authors -%}

          {%- if name == "Mingxuan Li" or name == "Mingxuan Li*"-%}
            <h4 style="display:inline; font-weight: bold;">
              {{ name |append:','}} 
            </h4>
          {%- elsif name == post.Authors[-1] -%}
            <h4 style="display:inline;">
              {{ name }}
            </h4>
          {%- else -%}
          <h4 style="display:inline;">
            {{ name|append:',' }}
          </h4>
          {%- endif -%}
        {%- endfor -%}
            <!-- {%- endif -%} -->
        
        <div class="w3-row">
          {%- for attr in post -%}
            {%- case attr -%}
              {%- when "conf" -%}
               <h5 class="no-block">{{post[attr]}} </h5>
              {%- when "paperlink" -%}
               <a class="link-bracket" href="{{post.paperlink}}">[pdf]</a>
              {%- when "code" -%}
               <a class="link-bracket" href="{{ post.code }}">[code]</a>
              {%- when "poster" -%}
              {%- when "video" -%}
              <a class="link-bracket" href="{{ post.video }}">[video]</a>
              {%- endcase -%}
              {%- endfor %}
          <h5 >{{post.Note}} </h5>
        
        </div>
      </div>
    </div>
  </div>