<div class='w3-padding-small'>
    <div class="w3-row hover-shadow pub-box" id="about">
      <div class="pubcol-left  w3-hide-small">
        <img src="{{ "/assets/papers/" | append: post.thumb  | relative_url}}" class="w3-round w3-image w3-opacity-min pub-image" alt="Table Setting">
      </div>
      
      <div class="pubcol-right ">
        <h5 class="pubtitle">{{post.title}}</h5ß>
        <!-- {{post.categories}} -->
        
        <!-- {%- if tag == Mingxuan -%} -->
        {%- for name in post.Authors -%}

          {%- if name == "Mingxuan Li" or name == "Mingxuan Li*"-%}
            {%- if name == post.Authors[-1]-%}
              <h5 style="display:inline; font-weight: bold;">
                {{ name }} 
              </h5>
            {%- else -%}
              <h5 style="display:inline; font-weight: bold;">
                {{ name |append:','}} 
              </h5>
            {%- endif -%}
          {%- elsif name == post.Authors[-1] -%}
            <h5 style="display:inline;">
              {{ name }}
            </h5>
          {%- else -%}
          <h5 style="display:inline;">
            {{ name|append:',' }}
          </h5>
          {%- endif -%}
        {%- endfor -%}
            <!-- {%- endif -%} -->
        
        <div class="w3-row">
          {%- for attr in post -%}
            {%- case attr -%}
              {%- when "conf" -%}
               <h5 class="no-block">{{post[attr]}} </h5>
              {%- when "confl" -%}
               <a class="no-block no-block-link" href="{{post.clink}}">{{post[attr]}}</a>
              {%- when "paperlink" -%}
               <a class="link-bracket" href="{{post.paperlink}}">[pdf]</a>
              {%- when "posterlink" -%}
               <a class="link-bracket" href="{{post.posterlink}}">[poster]</a>
              {%- when "slidelink" -%}
               <a class="link-bracket" href="{{post.slidelink}}">[slide]</a>
              {%- when "code" -%}
               <a class="link-bracket" href="{{ post.code }}">[code]</a>
              {%- when "video" -%}
              <a class="link-bracket" href="{{ post.video }}">[video]</a>
              {%- endcase -%}
              {%- endfor %}
          <h5 >{{post.Note}} </h5>
        
        </div>
      </div>
    </div>
  </div>